.logo {
  height: 39px;
  margin: 12px;
  background-image: url("/public/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.site-layout-background {
  background: #fff;
}

.site-layout .site-layout-background {
  padding: 24px;
  min-height: 280px;
}
